<app-navbar/>
<app-products></app-products>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            
                <button class="btn btn-warning">Buy Now</button>
            </app-products>
        </div>
        <div class="col-md-4">
            <app-products>
                <button class="btn btn-success">Buy Now</button>
            </app-products>
        </div>
        <div class="col-md-4">
            <app-products>
                
            </app-products>
        </div>
    </div>
</div> -->